/* ========== Header =========== */
.header {
    position: relative;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    margin-bottom: 8.3rem;
}

    .nav {
        position: fixed;
        width: 100%;
        z-index: var(--z-fixed);
        background-color: transparent;
        padding: 3.6rem 0;
        padding-right: 20rem;
        padding-left: 20rem;
    }

    .nav__scrolled {
        background-color: var(--white-color);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__brand {
        display: block;
        width: 65%;
    }

    .navbar__list {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .navbar__item {
        margin: .5rem .5rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .navbar__link {
        color: var(--title-color);
        transition: .3s;
    }

    .navbar__link:hover { 
        color: var(--first-color-alt);
    }

        /* Active link */
        .active-link {
            position: relative;
            color: var(--first-color);
        }
  
        .active-link::after {
            content: '';
            position: absolute;
            bottom: -.5rem;
            left: 0;
            width: 60%;
            height: 2px;
            background-color: var(--first-color);
        }

    .navbar__shopping {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar__heart {
        display: flex;
        font-size: 2rem;
        align-items: center;
        margin: .5rem .5rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .navbar__heart:hover {
        transition: all .2s;
        color: var(--red-color);
    }

    .navbar__cart {
        display: flex;
        position: relative;
        font-size: 2rem;
        align-items: center;
        margin: .5rem .5rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        span {
            position: absolute;
            top: -1.5rem;
            right: .2rem;
            padding: .1rem .6rem;
            color: var(--white-color);
            background-color: var(--first-color);
            border-radius: 50%;
            font-size: 1.2rem;
            font-weight: 500;
        }

        span:hover {
            background-color: var(--first-color-alt);
        }
    }

    .navbar__btn {
        display: inline-block;
        background-color: var(--first-color);
        color: var(--body-color);
        margin-left: 2.25rem;
        padding: .7rem 2rem;
        border-radius: 1rem;
        font-size: inherit;
    }

    .navbar__btn:hover {
        background-color: var(--first-color-alt);
        transition: .3s;
    }

    .navbar__close {
        display: none;
    }
