/* ========== Team =========== */
.team {
    margin-top: 7rem;

    &__title {
        text-align: center;
        margin: auto;
        font-size: var(--big-font-size);
    }

    &__container {
        padding: 4.8rem 0;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    &__card {
        margin: 0.5rem;
        padding: 2.2rem;
        max-width: 24%;
        cursor: pointer;
        transition: .3s;
        box-sizing: border-box;
        text-align: center;
        border: 2px solid var(--white-color-alt);
        box-shadow: .8rem .8rem 4.6rem rgba(0, 0, 0, 0.2);
        border-radius: 1.6rem;
        transition: all .4s;

        &:hover {
            transform: translateY(-1.2rem);
        }
    }

    &__img {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        border: 3px solid var(--text-color);
    }

    &__name {
        padding: .2rem;
        font-weight: 600;
        font-size: var(--h2-font-size);
    }

    &__job {
        color: var(--text-color);
        font-weight: 400;
        font-style: italic;
        font-size: 1.5rem;
    }

    &__about {
        padding-top: 1.2rem;
        margin: 2rem 0;
        font-weight: 400;
        color: var(--title-color);
        font-size: 1.45rem;
    }

    &__about1 { 
        margin-bottom: 4.4rem;
        padding-top: 1.2rem;
        font-weight: 400;
        color: var(--title-color);
        font-size: 1.45rem;
    }

    &__about2 {
        margin-bottom: 4.5rem;
        padding-top: 1.2rem;
        font-weight: 400;
        color: var(--title-color);
        font-size: 1.45rem;
    }

    &__social {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        margin: 1.4rem;
    }

    &__link {
        width: 3rem;
        height: 3rem;
        display: inline-block;
        transition: .3s;

        &:hover {
            transform: scale(1.2);
        }

        & i {
            position: relative;
            font-size: 2.8rem;
            color: var(--first-color);
        }
    }
}